*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--color-background);
}

:root{
/* Brand */
  --color-background: #E2EDE5;
  --color-surface: #FFFFFF;
  --color-surface-alt: #D8E0E8;
  --color-primary: #3C3C3C;
  --color-accent: #587A68;
  --color-border: #D8E0E8;

/* Text */
  --color-text-primary: #3C3C3C;
  --color-text-secondary: #87888B;
  --color-text-muted: #B4B2A9;

/* Semantic */
  --color-income: #587A68;
  --color-expense: #F76262;
  -color-danger: #F76262;

/* Categories */
  --color-cat-food: #F47650;
  --color-cat-shopping: #70B5D4;
  --color-cat-transport: #5B40EF;
  --color-cat-bills: #F76262;
  --color-cat-salary: #587A68;
  --color-cat-entertainment: #5B40EF;
  --color-cat-health: #70B5D4;
  --color-cat-others: #87888B;

/* Spacing */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --space-12: 48px;
  --space-16: 64px;

/* Radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;

/* Shadows */
  --shadow-card: 0px 2px 12px rgba(0, 0, 0, 0.05)
  --shadow-fab: 0px 4px 12px rgba(88, 122, 104, 0.35)
}